################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ryze
/.vs
/Ashe/.vs
/Ashe/bin
/Ashe/obj
*.sln
/bin/Debug
/Brand/.vs
/Brand/bin/Debug
/Brand/obj
/hsCamera/obj
/Irelia/bin/Debug
/Irelia/obj
/Malzahar/.vs
/Malzahar/bin
/Malzahar/obj
/obj/x86/Debug
/SSIvern/.vs
/SSIvern/bin
/SSIvern/obj
*.user
/SSKhaZix/.vs
/SSKhaZix/bin
/SSKhaZix/obj
/SurvivorSeriesAIO/bin
/SurvivorSeriesAIO/obj
/Other Stuff/JihadismAlgorithm/.vs
/Other Stuff/JihadismAlgorithm/bin/Debug
/Other Stuff/JihadismAlgorithm/obj/Debug
/hsCamera/bin/x86/Debug
/Irelia/bin/x86/Debug
