################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ryze
/Ashe/bin
/Ashe/obj
/Ashe
/Brand
/Malzahar
/Irelia/bin/Debug
/Irelia/obj/Debug
